<div class="my-container">

  <h1>List of cocktails</h1>

  <div class="card-deck">
  <% @cocktails.each do |cocktail| %>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= cocktail.name %></h5>
      <div class="btn btn-light">
        <%= link_to "details", cocktail_path(cocktail) %>
      </div>
    </div>
  </div>
  <% end %>
  </div>

  <div class="bottom-link">
    <% add_mark = "+" %>
    <%= link_to "#{add_mark} Add a new cocktail", new_cocktail_path %>
  </div>

</div>
