<div class="my-container">

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dmvkeguur/image/upload/v1553877769/lnmflqyukqvzyp980k18.jpg);">
    <div class="container">
      <h1>Cocktails</h1>
      <div class="banner-button">
        <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>

  <h3 class="text-center">List of cocktails</h3>

  <div class="card-deck">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail) do %>
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= cocktail.name %></h5>
          <%= link_to delete_cocktail_path(cocktail),
          method: :delete, data: { confirm: "Are you sure?"} do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
